<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553193934135-93mrabn0fqtsj2rl9cc3b1qm351danvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553193934135-93mrabn0fqtsj2rl9cc3b1qm351danvn</string>
	<key>API_KEY</key>
	<string>AIzaSyCHRcbBnd91RWH819GGg--w0hHc4MtefVE</string>
	<key>GCM_SENDER_ID</key>
	<string>553193934135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jobie.socialmedia-swift</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-b9876</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-b9876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553193934135:ios:d83cce847746f59a141eb2</string>
</dict>
</plist>